.category {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 20px;
  //width: 440px;
  //height: 360px;

  width: 352px;
  height: 288px;
  
  //width: 352px;
  //height: 338px;
  //flex-basis: calc(30%);

  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;

    .image {
      border-radius: 12px;
    }

    .info {
      display: flex;
      justify-content: space-between;
      width: 85%;
      background-color: #fff;
      padding: 10px;
      border-radius: 50px;

      .left {
        color: #000;
        margin-left: 20px;
      }
      .right {
        color: #000;
        margin-right: 20px;

      }
    }
  }
}

// .category:nth-child(2n+2) {
//   margin-top: 100px;
// }
