.header {

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #464646;
    background: linear-gradient(to bottom, #222222 56%, #f4f4f4 47%);
    background-repeat: no-repeat;
    
    .leftBlock {
      position: relative;
      
      .logo {
        position: relative;
        z-index: 4;
        height: 280px;
        cursor: pointer;
      }
    }

    .rightBlock {
      display: flex;
      align-items: center;
      color: #fff;
      margin-right: 110px;
      margin-bottom: 40px;

      .navItem {
        font-size: 24px;
        border-right: 1px #fff solid;
        padding-right: 20px;
        cursor: pointer;
        margin: 10px;
        font-weight: 200;
        color: #fff;
        text-decoration: none;
      }
      .navItem:last-child {
        border-right: none;
      }

      .entryBlock {
        display: flex;
        align-items: center;
        background-color: #3e3e3e;
        border-radius: 36px;
        padding: 10px 20px 10px 20px;
        margin-left: 30px;

        .entry {
          display: flex;
          align-items: center;
          font-size: 20px;
          cursor: pointer;
          font-weight: 300;

        }
  
        .entryIcon {
          display: flex;
          align-items: center;
          width: 30px;
          height: 30px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
  }
}