.taskBoard {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #111;

  .list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    height: calc(100vh - 106px);

    .title {
      display: flex;
      align-items: center;
      color: #f4f4f4;
      margin-bottom: 20px;

      .arrow {
        margin-left: 10px;
        width: 26px;
        height: 26px;
      }
    }

    .content {
      position: relative;
      display: flex;
      width: 100vw;
      justify-content: space-around;
      align-items: center;
      height: 80%;
    }
  }
}