.taskBoard {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #111;

  @media (max-width: 1300px) {
    height: 100vh;
  }

  .list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    height: calc(100vh - 106px);


    @media (max-width: 1300px) {
      height: auto;
    }


    .title {
      display: flex;
      align-items: center;
      color: #f4f4f4;
      margin-top: 20px;
      margin-bottom: 40px;
      
      @media (max-width: 1300px) {
        margin-top: 40px;
      }

      .arrow {
        margin-left: 10px;
        width: 26px;
        height: 26px;
      }
    }

    .content {
      display: flex;
      width: 100vw;
      justify-content: space-around;
      align-items: center;


      @media (max-width: 1300px) {
        flex-direction: column;
        height: calc(100vh - 106px);
        justify-content: flex-start;
      }

    }
  }
}