.progressList {
  display: flex;
  width: 100%;
  margin: 5px;
  position: relative;

  .content {
    width: 100%;
    position: relative;
    background-color: rgba(242, 244, 243, 0.4);
    border-radius: 12px;
    padding: 20px;

    .title {
      color:#C79EED;
      font-size: 26px;
      text-align: center;
      padding-bottom: 5px;
    }

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
      overflow-y: auto;
      border: 2px #C79EED solid;
      border-radius: 12px;
      padding: 10px;
      scrollbar-width: none;
      max-height: 150px;

    }
  }
}