.header {
  width: 100%;
  position: fixed;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.14);
  height: 106px;
  z-index: 5;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 106px;

    .left {
      margin-left: 40px;

      .logo {
        height: 58px;
        width: 130px;
        cursor: pointer;
      }
    }
    .middle {
      display: flex;
      align-items: center;
      margin-left: 15px;

      .navBlock {
        display: flex;
        justify-content: space-between;

        .navItem {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          border-radius: 10px;
          color: #f2f4f3;
          font-weight: 500;
          cursor: pointer;
          transition: 0.5s;
          text-decoration: none;
          margin-right: 10px;
          width: 100px;
        }
        .navItem:hover {
          background-color: rgba(199, 158, 237, 0.9) !important;
          transition: 0.5s;
        }
        .navItemActive {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          border-radius: 10px;
          color: #fff;
          font-weight: 500;
          cursor: pointer;
          transition: 0.5s;
          text-decoration: none;
          background-color: rgba(199, 158, 237, 0.7);
          margin-right: 10px;
          width: 100px;
        }
        .navItemActive:hover {
          background-color: rgba(199, 158, 237, 0.9) !important;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }

    .flagbox {
      display: flex;
      align-items: center;

      .input {
        width: 350px;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 50px;
        background-color:#a3a3a3;
        font-size: 18px;
        padding-left: 15px;

        @media (max-width: 1300px) {
          width: 150px;
        }
      }

      .input::placeholder {
        font-family: "Roboto Condensed", sans-serif;
      }

      .button {
        width: 80px;
        height: 35px;
        margin-left: 20px;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        background-color: rgba(199, 158, 237, 0.9);
        color: #3B1767;
        font-weight: 600;
        transition: 0.5s;
      }
      .button:hover {
        background-color: rgba(199, 158, 237, 1);
      }

    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
      margin-left: 15px;
      cursor: pointer;
      position: relative;

      .icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .username {
        color: #fff;
        margin-top: 8px;
        font-weight: 550;
        color: #C79EED;
      }

      .popup {
        position: fixed;
        top: 0;
        background-color: rgba(52, 58, 64, 0.6);
        width: 200%;
        height: 100vh;
        color:#fff;
        z-index: 42121212121212121212122 !important;
        animation-name: modalopen;
        animation-duration: 0.2s;

        .content {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: #222222;
          padding: 50px;
          border-radius: 12px;
          z-index: 42121212121212121212122 !important;

          box-shadow:
          0 1px 4px rgba(0, 0, 0, .3),
          -23px 0 20px -23px rgba(0, 0, 0, .8),
          23px 0 20px -23px rgba(0, 0, 0, .8),
          0 0 40px rgba(0, 0, 0, .1) inset;

          .popupLogoutInput {
            border-radius: 5px;
            height: 40px;
            width: 150px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            background-color: #E53935;
            color: #fff;
            font-weight: 600;
          }

          .popupSettingsInput {
            border-radius: 5px;
            height: 40px;
            width: 150px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            background-color: #C79EED;
            color: #3B1767;
            font-weight: 600;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}