.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.14);
  height: 106px;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 106px;

    .left {
      margin-left: 40px;

      .logo {
        height: 58px;
        width: 130px;
        cursor: pointer;
      }
    }
    .middle {
      display: flex;
      align-items: center;

      .navBlock {
        display: flex;
        justify-content: space-between;

        .navItem {
          text-align: center;
          padding: 20px;
          border-radius: 10px;
          color: #f2f4f3;
          font-weight: 500;
          cursor: pointer;
          transition: 0.5s;
          text-decoration: none;
          margin-right: 10px;
          width: 100px;
        }
        .navItem:hover {
          background-color: rgba(199, 158, 237, 0.9) !important;
          transition: 0.5s;
          cursor: pointer;
        }
        .navItemActive {
          text-align: center;
          padding: 20px;
          border-radius: 10px;
          color: #fff;
          font-weight: 500;
          cursor: pointer;
          transition: 0.5s;
          text-decoration: none;
          background-color: rgba(199, 158, 237, 0.7);
          margin-right: 10px;
          width: 100px;
        }
        .navItemActive:hover {
          background-color: rgba(199, 158, 237, 0.9) !important;
          cursor: pointer;
        }
      }
    }

    .flagbox {
      display: flex;
      align-items: center;
      margin-left: 60px;

      .input {
        width: 350px;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 50px;
        background-color:#a3a3a3;
        font-size: 18px;
        padding-left: 15px;
      }

      .input::placeholder {
        font-family: "Roboto Condensed", sans-serif;
      }

      .button {
        width: 80px;
        height: 35px;
        margin-left: 20px;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        background-color: rgba(199, 158, 237, 0.9);
        color: #3B1767;
        font-weight: 600;
        transition: 0.5s;
      }
      .button:hover {
        background-color: rgba(199, 158, 237, 1);
      }

    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
      cursor: pointer;
      position: relative;

      .icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .username {
        color: #fff;
        margin-top: 8px;
        font-weight: 550;
        color: #C79EED;
      }

      .popup {
        position: absolute;
        top: 100px;
        right: 0px;
        background-color: #222222;
        padding: 10px 10px 10px 10px;
        border-radius: 12px;
        border: 1px rgba(199, 158, 237, 0.5) solid;
        animation-name: modalopen;
        animation-duration: 0.2s;

        .popupInput {
          border-radius: 5px;
          height: 30px;
          width: 150px;
          font-size: 16px;
          cursor: pointer;
          border: none;
          background-color: #C79EED;
          color: #3B1767;
          font-weight: 600;
        }
      }
    }
  }
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}