.reward {
  width: 100%;
  margin-top: 10px;
  
  .content {
    display: flex;
    align-items: center;
  
    .rewardInfo {
      margin-left: 10px;

      .rewardTitle {
        color: #f2f4f3;
        font-weight: 550;


      }
  
      .rewardText {
        color: #f2f4f3;


      }
    }
  }
}