.about {
  position: relative;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #f4f4f4;
  background-size: contain;
  bottom: 125px;

  .content {
    display: flex;
  
    .leftBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 25px;
      margin-left: 110px;
      font-size: 19px;
      font-weight: 300;
      width: 40%;
      height: 600px;
    }
  }
}