.about {
  position: relative;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: rgba(26, 26, 26, 1);
  background-size: contain;
  border-radius: 50px;

  @media (max-width: 1000px) {
    background-position: center;
    background-size: cover;
    background-image: none !important;
  }

  .content {
    display: flex;
    justify-content: space-between;
  
    .leftBlock {
      display: flex;
      flex-direction: column;
      width: 45%;
      margin-top: 100px;
      color: #f2f4f3;
      margin-left: 110px;

      @media (max-width: 1000px) {
        width: 100%;
        text-align: start;
        margin: 20px;
        margin-top: 50px;
      }

      div {
        line-height: 30px;
        font-size: 19px;
        font-weight: 300;
        margin-bottom: 10px;

        @media (max-width: 1000px) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      div:nth-of-type(2) {
        @media (max-width: 1000px) {
          display: none;
        }
      }

      div:nth-of-type(4) {
        @media (max-width: 1000px) {
          display: none;
        }
      }
    }

    .owl {
      width: 500px;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}