.taskList {
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 12px;
  padding: 20px;
  height: 500px;
  width: 596px;

  @media (max-width: 1300px) {
    width: auto;
    height: 200px;
  }

  .content {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100%;
  }
}