.taskList {
  width: 50%;
  max-height: 750px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 106px);

    .taskRouter {
      min-width: 450px;
      background-color: #f4f4f4;
      padding: 20px;
      border-radius: 10px;
      overflow-y: auto;
    }
  }
}