.taskList {
  position: relative;
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 12px;
  padding: 20px;
  height: 95%;
  width: 40%;
  max-width: 600px;
  max-height: 520px;

  .content {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }
}