.categories {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 3;
  
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    overflow-y: auto;
    height: calc(100vh - 106px);
    scrollbar-width: none;
  }
}