.categories {
  position: relative;
  display: flex;
  flex-direction: column;

  .list {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    height: calc(100vh - 106px);
    overflow-y: auto;
    overflow-x: hidden;
    
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      color: #fff;
      background-color: rgba(17, 17, 17, 0) !important;
      margin-top: 51px;
      height: 93px;
      width: 100%;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      scrollbar-width: none;
      margin: 0 auto;
      width: 100vw;
      margin-top: 20px;
      position: relative;

      @media (max-width: 1300px) {
        
      }
    
    }
  }
}