.footer {
  display: flex;
  
  background-color: rgba(59, 23, 103, 1);
  color: #fff;
  height: 276px;

  .content {
    display: flex;
    width: 90vw;
    margin: auto;

    .left {
      width: 30%;
      margin: auto;
      text-align: center;
      border-right: 2px #C79EED solid;

      .title {
        font-size: 24px;
        font-weight: 600;
      }

      .links {
        display: flex;
        justify-content: center;

        .icon {
          width: 60px;
          margin: 10px;
          cursor: pointer;
        }
      }
    }

    .right {
      width: 60%;
      margin: auto;
      text-align: center;
      
      .text {
        padding: 20px;
      }
    }
  }
}