.footer {
  display: flex;
  background-color: #222222;
  color: #fff;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    padding: 30px;


    .title {
      font-size: 24px;
      font-weight: 600;
    }

    .links {
      display: flex;
      justify-content: center;

      .icon {
        width: 55px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}