.progressPoint {
  width: 100%;
  border-bottom: 2px #C79EED solid;
  margin-top: 10px;

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 5px;
    color: #f2f4f3;
  }
}

.progressPoint:last-child {
  border: none;
}