.taskInfo {
  display: flex;
  justify-content: center;
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 12px;
  padding: 20px;
  height: 500px;
  width: 596px;
  
  @media (max-width: 1300px) {
    order: 1;
    width: auto;
    margin-top: 40px;
    margin-bottom: 140px !important;
    margin: 40px;
  }


  .content {

    .description {
      width: 556px;
      border-right: 3px #3B1767 solid;
      border-left: 3px #3B1767 solid;
      border-bottom: 3px #3B1767 solid;
      border-radius: 30px 30px 12px 12px;
      background-color: rgba(244, 244, 244, 0.7);

      .taskTitle {
        margin: 10px;
        text-decoration: underline;
      }
  
      .taskText {
        margin: 10px;
      }
  
    }

    .statisics {
      display: flex;
      justify-content: center;
      width: 100%;

      .statBlock {
        text-align: center;
        padding: 10px;
        border: 3px #3B1767 solid;
        margin: 10px;
        border-radius: 15px;
        width: 20%;
        background-color: rgba(244, 244, 244, 0.7);

        .title {
          border-bottom: 3px #3B1767 solid;
          padding: 5px;
          font-weight: 550;
        }

        .hr {
          margin: 10px 5px 5px 5px;
          margin-bottom: 5px;
          font-size: 20px;
          font-weight: 550;
          color: #3B1767;
        }
      }
    }
  }
}