.news {
  background-repeat: repeat-x;
  background-size: contain;
  background-color: rgba(26, 26, 26, 1);

  .content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;

    .title {
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 3px;

      @media (max-width: 1000px) {
        text-align: center;
      }
    }

    .newsTitle {
      margin-top: 10px;
      color: #3B1767;
      font-size: 22px;
      font-weight: 600;
    }

    .hr {
      width: 80%;
      height: 2px;
      background-color: #3B1767;
      border: none;
    }

    .image {
      height: 400px;

      @media (max-width: 1000px) {
        height: 200px;
      }
    }

  }
}