.swiper2 {
  width: 100%;
  height: auto;
  width: 80vw !important;
  padding-bottom: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.swiper-slide {
  width: auto;
  border: 1px rgba(204, 204, 204, 0.1) solid;
  border-radius: 12px;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #C79EED;
}