.liveboard {
  position: relative;
  height: calc(100vh - 106px);
  z-index: 3;
  overflow-y: hidden;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #111;
    //background-color: #f2f4f3;
    background-size: cover;

    .field {
      display: flex;
      flex-direction: column;
      max-width: 1000px;
      width: 60%;
      padding: 20px 20px 10px 20px;
      background-color: rgba(242, 244, 243, 0.7);
      border-radius: 10px;

      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: 2px #3b1767 solid;
        background-color: rgba(199, 158, 237, 0.6);
        border-radius: 50px;
        margin-bottom: 20px;

        .title {
          text-align: center;
          width: 25%;
          padding: 10px;
          color: #3b1767;
          letter-spacing: 1.5px;
          font-weight: 550;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
      }

      .list::-webkit-scrollbar {
        width: 1px;
      }
    }
  }
}