.rewards {
  display: flex;
  align-items: flex-end;
  width: 100%;
  opacity: 0.5;
  pointer-events: none;
  margin: 5px;

  .content {
    width: 100%;
    background-color: rgba(242, 244, 243, 0.4);
    border-radius: 12px;
    padding: 20px;

    .title {
      color:#3B1767;
      font-size: 26px;
      text-align: center;
      padding-bottom: 5px;
    }

    .list {
      max-height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
      border: 3px #3B1767 solid;
      padding: 10px;
      border-radius: 10px;
      scrollbar-width: none;

      @media (max-width: 1300px) {
        max-height: 120px;
      }
    }
  }
}