.user {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(242, 244, 243, 0.4);
    border-radius: 12px;
    padding: 20px;
    height: auto;
    height: 80%;

    .icon {
      border: 1px #111 solid;
      border-radius: 12px;
      width: 85%;
    }

    .username {
      text-align: center;
      font-size: 28px;
      color: #111;
      margin-top: 10px;
    }

    .contacts {
      display: flex;
      width: 85%;
      justify-content: space-between;
      margin-top: 20px;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(242, 244, 243, 0.5);
        border-radius: 12px;
        padding: 10px;
        border-radius: 10px;
        width: 55%;

        .title {
          font-weight: 550;
        }

        .colored {
          color: #3B1767;
          font-size: 20px;
          font-weight: 550;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(242, 244, 243, 0.5);
        border-radius: 12px;
        padding: 10px;
        border-radius: 10px;
        width: 30%;

        .title {
          font-weight: 550;
        }

        .colored {
          color: #3B1767;
          font-size: 20px;
          font-weight: 550;
        }
      }
    }
  }
}