.notfound {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;

  .text {
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;

  }
}