.detail {
  position: fixed;
  top: 0;
  background-color: rgba(52, 58, 64, 0.6);
  width: 100vw;
  height: 100vh;
  color:#fff;
  z-index: 4;
  animation-name: modalopen;
  animation-duration: 0.2s;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    padding: 50px;
    border-radius: 12px;

    box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;

    @media (max-width: 1000px) {
      position: relative;
      width: 80vw;
      padding: 25px;
    }

    .title {
      color: #C79EED;
      font-size: 26px;
      font-weight: 550;
      margin-top: 10px;
    }

    .image {
      height: 400px;
      border: 1px #ccc solid;
      border-radius: 12px;

      @media (max-width: 1000px) {
        display: none;
      }
    }

    .text {
      margin-top: 10px;
      text-align: justify;
      overflow-y: auto;
      height: 100%;
      scrollbar-width: thin;
      scrollbar-color: #C79EED transparent;
      padding-right: 5px;
      
      a {
        color: #C79EED;
      }
    }
  }
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}